
@using Microsoft.AspNet.Identity;
@model IEnumerable<BugTracker.Models.Tickets>

@{ 
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />


@{
    ViewBag.Title = "Index";

}

<div class="row">
    <div class="col-lg-5 ">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i>Tickets</li>
        </ul>
    </div>
</div>
@*<div class="content">
    <div class="main-header">
        <br />
        <div class="row">
            <div class="col-md-8">
                <h2>Tickets</h2>
                <em>Home</em>
            </div>
        </div>
    </div>
</div>*@
<br />
    <button id="createTicket" class="btn btn-danger">
        <i class="fa fa-plus"></i>
        @*@Html.ActionLink("New Ticket", "Create", "Tickets", null, new { @class = "btn btn-danger"})*@
        @Html.ActionLink("New Ticket", "Create")
    </button>

    <!-- DATA TABLE: USER SUBMITTED TICKETS -->
    <div class="widget widget-table">
        <div class="widget-header table-title">
            <h3><i class="fa fa-table"></i>MY OPEN TICKETS</h3>
        </div>
        <div class="widget-content">
            <table id="featured-datatable" class="table @*table-sorting*@ table-striped table-bordered table-hover datatable ">
                <thead>
                    <tr class="tableHeader">
                        <th>
                            Assigned
                        </th>
                        <th>
                            Submitter
                        </th>
                        <th>
                            Project
                        </th>
                        <th>
                            Priority
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Created)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (User.Identity.GetUserId() == item.OwnerUserId)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AssignedToUser.FirstName)
                                    @Html.DisplayFor(modelItem => item.AssignedToUser.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OwnerUser.FirstName)
                                    @Html.DisplayFor(modelItem => item.OwnerUser.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Project.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    <button class="btn-xs btn-success">
                                        @Html.ActionLink("Details", "Details", new { id = item.Id })

                                    </button>
                                 </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- END DATA TABLE: USER SUBMITTED TICKETS -->
    <br /><br />
    <!-- DATA TABLE: ALL TICKET VIEW -->
    <div class="widget widget-table">
        <div class="widget-header table-title">
            <h3><i class="fa fa-table"></i>ALL OUTSTANDING TICKETS</h3>
        </div>
        <div class="widget-content">
            <table id="featured-datatable" class="table @*table-sorting*@ table-striped table-bordered table-hover datatable ">
                <thead>
                    <tr class="tableHeader">
                        <th>
                            Assigned
                        </th>
                        <th>
                            Submitter
                        </th>
                        <th>
                            Project
                        </th>
                        <th>
                            Priority
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Created)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssignedToUser.FirstName)
                                @Html.DisplayFor(modelItem => item.AssignedToUser.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OwnerUser.FirstName)
                                @Html.DisplayFor(modelItem => item.OwnerUser.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Project.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                <button class="btn-xs btn-success">
                                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                                </button>
                                @if (User.IsInRole("Admin")
                                    || User.IsInRole("Project Manager")
                                    || User.Identity.GetUserId() == item.AssignedToUserId)
                                {
                                    <button class="btn-xs btn-warning">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- END DATA TABLE: ALL TICKET VIEW -->
    <br /><br />




    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    <!--DataTables-->
    @*<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>*@
    <script type="text/javascript" language="javascript" src="~/assets/js/plugins/datatable/jquery.dataTables.min.js"></script>

    <script>
        $('.table').DataTable();
    </script>
