@model BugTracker.Models.RoleManagementViewModel

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" />
<link href="~/lou-multi-select-cf6d6c6/css/multi-select.css" rel="stylesheet" />
<style>
    footer {
        display: none;
    }
</style>

@{
    ViewBag.Title = "RoleManagement";
}

<div class="row">
    <div class="col-lg-5 ">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="@Url.Action("Index", "Admin")">Admin</a></li>
            <li>Role Management</li>
        </ul>
    </div>
</div>

<!-- main -->
<div class="content">
    <div class="main-header">
        <br />
        <div class="row">
            <div class="col-md-8">
                <h2>Admin Manage Roles</h2>
                <em>
                    @Html.DisplayFor(model => model.firstName)
                    @Html.DisplayFor(model => model.lastName)
                </em>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="project-section general-info">
            <div class="row">
                <div class="col-md-1"></div> <!--Spacer-->

                @using (Html.BeginForm("RoleManagement", "Admin", FormMethod.Post))
            {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    <div class="col-md-6 roleForm">
                        @*@Model.firstName
                            @Model.lastName*@
                        @Html.ListBox("SelectedRoles", Model.roleList, new { @id = "selectRole", multiple = "multiple" })

                        <button type="submit" id="roleMgmtUpdate">
                            Update
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>

</div>


<script src="~/assets/js/jquery/jquery-2.1.0.min.js"></script>
<script src="~/lou-multi-select-cf6d6c6/js/jquery.multi-select.js"></script>
<script>
    $('#selectRole').multiSelect({
        selectableHeader: "<div class='custom-header'>Available Roles</div>",
        selectionHeader: "<div class='custom-header'>Assigned Roles</div>"
    })
</script>







