@using BugTracker.Models

@model LoginViewModel

@{
    Layout = "~/Views/Shared/_MyLogin.cshtml";
}

<link href="~/assets/css/my-custom-Landing.css" rel="stylesheet" type="text/css">

@{
    ViewBag.Title = "Log in";
}

    <!-- Template -->
    <div class="wrapper full-page-wrapper page-auth page-login text-center">
        <div class="inner-page">
            @*<div class="logo">
                <a href="index.html"><img src="assets/img/kingadmin-logo.png" alt="" /></a>
            </div>*@
            @*<button type="button" class="btn btn-auth-facebook"><span>Login via Facebook</span></button>*@
            <div class="logInHeader">
                <h1>Premier</h1>
                <h2>Bug Tracker</h2>
            </div>
            <div class="separator"><span>OR</span></div>
            <div class="login-box center-block">
                @*<form class="form-horizontal" role="form">*@
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                     <div class="form-group">
                        @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                        <div class="col-sm-12">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                    @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                        <div class="col-sm-12">
                            <div class="input-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            </div>
                        </div>
                    </div>
                     <div class="form-group">
                        <div class="col-md-10">
                            <label class="fancy-checkbox">
                                <input type="checkbox">
                                <span>Remember me next time</span>
                            </label>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>*@

                    <button class="form-group btn btn-custom-primary btn-lg btn-block btn-auth"><i class="fa fa-arrow-circle-o-right"></i> Login</button>
                    @*</form>*@
                }
                <div class="links">
                    <p>@Html.ActionLink("ForgotPassword", "ForgotPassword")</p>
                    <p>@Html.ActionLink("Create New Account", "Register")</p>
                </div>
            </div>
        </div>
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




@*<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email,  new { @class = "form-control", @placeholder="username" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>

                <p>
                    @Html.ActionLink("ForgotPassword", "ForgotPassword")
                </P>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>*@
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
            }*@
        @*</section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>*@

